<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PerfectDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PerfectDB.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1501</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1564</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1573</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
